body {
    margin: 0;
}

.flex-container {
    border: 6px solid black;
    /* display: inline-flex; */
    display: flex;
    height: 800px;

    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */

    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */

    /* flex-flow: row nowrap; */
    /* flex-flow: row-reverse wrap; */

    /* row-gap: 30px; */
    /* column-gap: 20px; */
    /* gap: 40px 20px; */

    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */

    /* align-items: stretch; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    /* align-items: baseline; */

    /* align-content: stretch; */
    /* align-content: flex-start; */
    /* align-content: flex-end; */
    /* align-content: center; */
    /* align-content: space-between; */
    /* align-content: space-around; */
}

.flex-item {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    /* width: 6rem; */

    /* flex-grow: 1; */
    /* flex-shrink: 0; */
    /* flex-basis: 200px; */
    /* flex: 1 0 200px; */
}

.item-1 {
    background-color: red;
    /* padding-bottom: 3rem; */
    /* flex-basis: auto; */
    /* align-self: flex-start; */
}

.item-2 {
    background-color: orange;
    /* padding-bottom: 5rem; */
    /* align-self: flex-end; */
}

.item-3 {
    background-color: yellow;
    /* padding-bottom: 3rem; */
    /* order: 1; */
    /* flex-shrink: 4; */
    /* align-self: center; */
}

.item-4 {
    background-color: green;
    /* align-self: stretch; */
}

.item-5 {
    background-color: blue;
    /* flex-grow: 0; */
    /* flex-grow: 1; */
}

.item-6 {
    background-color: indigo;
    /* flex-grow: 1; */
    /* flex-grow: 3; */
}

.item-7 {
    background-color: violet;
    /* order: 2; */
}

.item-8 {
    background-color: hotpink;
}

.item-9 {
    background-color: gray;
    /* order: 1; */
}