body {
    margin: 0;
}

.container {
    border: 6px solid black;
    /* display: inline-flex; */
    display: flex;
    height: 800px;

    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */

    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */

    /* flex-flow: row nowrap; */
    /* flex-flow: row-reverse wrap; */

    /* row-gap: 30px; */
    /* column-gap: 20px; */
    /* gap: 40px 20px; */

    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */

    /* align-items: stretch; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    /* align-items: baseline; */

    
}

.flex-item {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}

.item-1 {
    background-color: red;
    /* padding-bottom: 3rem; */
}

.item-2 {
    background-color: orange;
    /* padding-bottom: 5rem; */
}

.item-3 {
    background-color: yellow;
    /* padding-bottom: 3rem; */
}

.item-4 {
    background-color: green;
}

.item-5 {
    background-color: blue;
}

.item-6 {
    background-color: indigo;
}

.item-7 {
    background-color: violet;
}

.item-8 {
    background-color: hotpink;
}

.item-9 {
    background-color: gray;
}